{% load i18n %}

{% block subject %}
{% blocktrans %}Réinitialisation de votre mot de passe {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}Vous recevez ce courriel parce que vous avez demandé une réinitialisation du mot de passe de votre compte d'utilisateur {{ site_name }}.{% endblocktrans %}

{% trans "Veuillez vous rendre à la page suivante et choisir un nouveau mot de passe:" %}
{{ protocol }}://{{ domain }}/{{ url }}

{% trans "Merci d'utiliser UT'Annonces!" %}

{% blocktrans %}L'équipe UT'Annonces{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}Vous recevez ce courriel parce que vous avez demandé une réinitialisation du mot de passe de votre compte d'utilisateur {{ site_name }}.{% endblocktrans %}</p>

<p>{% trans "Veuillez vous rendre à la page suivante et choisir un nouveau mot de passe:" %}</p>
<a href="{{ protocol }}://{{ domain }}/{{ url }}">{{ protocol }}://{{ domain }}/{{ url }}</a>

<p>{% trans "Merci d'utiliser UT'Annonces!" %}</p>

<p>{% blocktrans %}L'équipe UT'Annonces{% endblocktrans %}</p>
{% endblock html_body %}
