{% load i18n %}

{% block subject %}
{% blocktrans %}{{ site_name }} - Votre mot de passe a été modifié avec succès!{% endblocktrans %}
{% endblock %}

{% block text_body %}
{% trans "Votre mot de passe a été modifié!" %}

{% trans "Merci d'utiliser UT'Annonces!" %}

{% blocktrans %}L'équipe UT'Annonces{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% trans "Votre mot de passe a été modifié!" %}</p>

<p>{% trans "Merci d'utiliser UT'Annonces!" %}</p>

<p>{% blocktrans %}L'équipe UT'Annonces{% endblocktrans %}</p>
{% endblock html_body %}
