asgiref==3.2.10
astroid==2.4.2
autopep8==1.5.4
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
colorama==0.4.4
cryptography==3.2
defusedxml==0.7.0rc1
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.1.1
django-cors-headers==3.5.0
django-countries==6.1.3
django-email-verification==0.0.7
django-extra-fields==3.0.2
django-filter==2.4.0
django-oauth-toolkit==1.3.3
django-phonenumber-field==5.0.0
django-templated-mail==1.1.1
djangorestframework==3.11.2
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.4.0
djoser==2.0.5
drf-social-oauth2==1.0.8
idna==2.10
install==1.3.4
isort==5.6.3
lazy-object-proxy==1.4.3
mccabe==0.6.1
oauthlib==3.1.0
phonenumbers==8.12.11
Pillow==8.0.0
psycopg2-binary==2.8.6
pycodestyle==2.6.0
pycparser==2.20
PyJWT==1.7.1
pylint==2.6.0
pylint-django==2.3.0
pylint-plugin-utils==0.6
python-decouple==3.4
python3-openid==3.2.0
pytz==2020.1
requests==2.24.0
requests-oauthlib==1.3.0
rope==0.18.0
six==1.15.0
social-auth-app-django==4.0.0
social-auth-core==3.3.3
sqlparse==0.3.1
static3==0.7.0
toml==0.10.1
urllib3==1.25.11
wrapt==1.12.1
